
[submodule "webapp"]
	path = webapp
	url = https://github.com/ChamathDilshanC/Cafeteria-System-webapp.git

[submodule "platform"]
	path = platform
	url = https://github.com/ChamathDilshanC/Cafeteria-System-Platform.git
[submodule "services"]
	path = services
	url = https://github.com/ChamathDilshanC/Cafeteria-System-Services.git
